@import 'app-variables';
@import 'src/main/webapp/app/shared/layout/pills';

#root {
  width: fit-content;
  min-width: 100%;
  overflow: hidden;
}

#measure-layer {
  > * {
    display: inline-block;
  }
}

.app {
  .break {
    white-space: normal;
    word-break: break-all;
  }

  .break-word {
    white-space: normal;
    word-break: keep-all;
  }

  .app-container {
    padding-top: $paddingTop;
  }

  #app-view-container {
    min-height: calc(100vh - #{$footerSize} - #{$paddingTop} - #{$marginTop} - #{$goBackButtonHeight});
  }

  .btn-black {
    border-radius: 8px;
    border-color: black;
    border-width: 2px;
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;

    &:hover {
      margin-top: 0 !important;
      border-color: black !important;
      border-bottom-width: 2px !important;
      background-color: $transparent005;
    }

    &:active {
      background-color: $transparent01 !important;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .btn-orange {
    border-radius: 8px;
    border-color: $orange-button;
    border-width: 2px;
    background-color: $orange-button;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;

    &:hover {
      color: darken(white, 5%);
      margin-top: 0 !important;
      border-color: $orange-button !important;
      border-bottom-width: 2px !important;
      background-color: darken($orange-button, 5%);
    }

    &:active {
      color: darken(white, 7%) !important;
      background-color: darken($orange-button, 7%) !important;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .dropdown-menu {
    max-height: 90vh;
    overflow-y: auto;
  }

  .form-control.invalid {
    background-color: #fff5bf;
  }

  .icon-span {
    svg {
      padding-top: 0.25em;
      font-size: 1.25em;
    }
  }

  .text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }

  .auth-label {
    color: #004085;

    span {
      color: #004085;
    }
  }
}
