@import 'src/main/webapp/app/modules/provider/app-variables';
@import '../../../bootstrap-variables';

$header-color: #fff;
$header-color-secondary: #bbb;
$header-color-hover: darken($header-color, 20%);
$avatar-width: 25px;
$avatar-height: 25px;

.provider-app,
.public-app {
  @media only screen and (max-width: 768px) {
    .navbar-version {
      font-size: 10px;
      color: $header-color-secondary;
      padding: 0 0 0 10px;
    }
    .navbar-brand {
      padding-top: 0;
    }
    .navbar-label {
      margin-left: 4px;
      color: $gray-700;
    }

    .brand-title {
      font-size: 24px;
      color: $header-color;
      &:hover {
        color: $header-color-hover;
        text-decoration: none;
      }
    }

    #account-menu {
      list-style-type: none;
    }

    .loading-bar {
      height: 3px;
      background-color: #009cd8;
      position: absolute;
      top: 0px;
      z-index: 1031;
    }

    .about-us-link {
      text-decoration: underline;
      font-size: 0.875rem;
    }

    .avatar-size {
      align-self: center;
      width: $avatar-width !important;
      height: $avatar-height !important;
    }

    .self-aligned {
      align-self: center;
    }

    .header-link {
      font-weight: bold;
    }

    .header-bar-mobile {
      height: $paddingTopMobile;
      flex-direction: column !important;
    }

    .container-mobile {
      display: block !important;
      padding-right: 0 !important;
      padding-left: 0 !important;
      padding-bottom: 0 !important;
      width: 100%;
      height: 100%;
    }

    .bell-bagde {
      position: relative;
      top: -11px;
      right: -32px;
      border-radius: 50%;
      padding: 4px;
      border: 2px solid;
      background-color: orange;
    }

    .height-fluid {
      height: 100%;
      > * {
        height: 100%;
      }
    }

    .square {
      position: relative;
      width: 50%;
    }

    .square:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    .content {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .navbar-version {
      display: none;
    }
    .brand-menu {
      display: none !important;
    }
    .right-menu {
      display: flex;
    }

    .brand-logo {
      text-align: center !important;
      margin-top: 0 !important;
      &:hover {
        text-decoration: none;
      }
      .brand-icon {
        display: inline-block;
        img {
          margin-top: 0 !important;
          height: 100%;
        }
      }
    }
  }
}
