.organization-card {
  width: 25vw;
  height: 20vh;
  padding: 20px;
  align-items: center;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 10px 8px 27px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
  .organization-card {
    width: 100%;
  }
}

.react-multi-carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-multi-carousel-track {
  height: 23vh !important;
}

.carousel-item-padding-40-px {
}
