@import '../../app-variables';

.all-records {
  .map-overlay-top {
    position: absolute;
    margin-top: 8px;
    width: 100%;
    z-index: 1;
  }

  .map-overlay-search {
    position: absolute;
    bottom: 70px;
    z-index: 1;
    width: 100%;
  }

  .search-area-button {
    box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    &:hover:not(.disabled) {
      color: black;
    }
    align-self: start;
    margin-right: 0.75em;
  }

  .mobile-map-container {
    flex: 1;
  }
}

.all-records-title {
  .button-container {
    display: inline-flex;
    @media only screen and (max-width: 420px) {
      display: flex;
      .button-pill {
        padding: 2px 0.45rem;
        width: 100%;
      }
    }
  }
  .button-pill {
    font-weight: bold;
  }
  .button-pill:hover,
  .button-pill:active {
    background: #343f51;
    color: white;
  }
  .referrals-counter {
    font-weight: normal;
    text-align: center;
    position: absolute;
    top: -5px;
    border-radius: 50%;
    background: $new-record-color;
    color: white;
    line-height: 20px;
    height: 20px;
    width: 20px;
    right: -7px;
  }

  .referral-counter-big {
    @extend .referrals-counter;
  }

  &.referring-disabled {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .button-container {
      margin-left: 5px;
    }
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      .button-container {
        width: 100%;
        margin: 0.25rem 0;
      }
    }
  }
}

.claim-record-modal {
  width: 80vw;
  max-width: 80vw;
  @media only screen and (max-width: 768px) {
    width: auto;
    max-width: none;
  }

  &.claiming {
    .modal-content {
      height: 80vh;
      @media only screen and (max-width: 768px) {
        height: 95vh;
      }

      &.ios {
        height: 100% !important;
      }
    }
  }
}

.claim-record-modal-container {
  height: 100%;
  overflow: hidden;
  background-color: lighten(#fab28d, 15%);
}

.claim-modal-title {
  font-weight: bold;
  font-size: 1rem;
}

.claim-modal-subtitle {
  font-weight: bold;
  @media only screen and (max-width: 768px) {
    font-size: 0.8rem;
  }
}

.claim-record-modal-body {
  min-width: 100%;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.modal-on-exit-bottom-divider {
  border-bottom: 1px solid black;
}

.modal-on-exit {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 99999;
  border: 1px black solid;
  width: 50%;
  padding: 0 !important;
  @media only screen and (max-width: 768px) {
    width: 90% !important;
  }
}

.single-record {
  max-height: 90%;
}

.filter-section {
  &.buttons {
    @media only screen and (min-width: 768px) {
      padding-top: 1rem;
    }
  }
  &.search {
    flex: 1;
  }
  @media only screen and (min-width: 576px) {
    min-width: 300px;
  }
  @media only screen and (max-width: 576px) {
    .location-filters {
      flex-wrap: wrap;

      > div {
        min-width: 100px;
        max-width: 50%;
        flex: 0 0 50%;
        &:first-of-type {
          margin-bottom: 0.5em;
        }
      }
    }
  }
}
