.all-records {
  .map-overlay-top {
    position: absolute;
    margin-top: 8px;
    width: 100%;
    z-index: 1;
  }

  .map-overlay-search {
    position: absolute;
    bottom: 70px;
    z-index: 1;
    width: 100%;
  }

  .search-area-button {
    box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    &:hover:not(.disabled) {
      color: black;
    }
  }
}
