@import '../../app-variables';

.all-records {
  .map-overlay-top {
    position: absolute;
    margin-top: 8px;
    width: 100%;
    z-index: 1;
  }

  .map-overlay-search {
    position: absolute;
    bottom: 70px;
    z-index: 1;
    width: 100%;
  }

  .search-area-button {
    box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    &:hover:not(.disabled) {
      color: black;
    }
    align-self: end;
    margin-right: 0.75em;
  }

  .mobile-map-container {
    flex: 1;
  }
}

.all-records-title {
  .button-container {
    display: inline-flex;
    @media only screen and (max-width: 420px) {
      display: flex;
      .button-pill {
        padding: 2px 0.45rem;
        width: 100%;
      }
    }
  }
  .button-pill {
    font-weight: bold;
  }
  .button-pill:hover,
  .button-pill:active {
    background: #343f51;
    color: white;
  }
  .referrals-counter {
    font-weight: normal;
    text-align: center;
    position: absolute;
    top: -5px;
    border-radius: 50%;
    background: $new-record-color;
    color: white;
    line-height: 20px;
    height: 20px;
    width: 20px;
    right: -7px;
  }

  .referral-counter-big {
    @extend .referrals-counter;
  }
}
