@import 'app-variables';

.provider {
  min-height: 100vh;

  .background {
    background: url('../../../static/images/background-provider.svg') no-repeat center top;
    background-size: cover;
    position: relative;
  }
  > * {
    font-family: 'Muli', sans-serif;
  }
  .app-container {
    padding-top: $paddingTop !important;
  }

  #provider-home-view-container {
  }

  .navbar {
    border-width: 0 !important;
  }

  .header-item .header-item-padding {
    padding-right: 15px;
    padding-left: 15px;
  }

  .self-align-center {
    align-self: center;
  }

  .hero-image {
    height: 25vh;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2d2d2d;
  }

  .hero-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-avatar-size {
    width: $hero-avatar-width !important;
    height: $hero-avatar-height !important;
  }

  .user-cards-container {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    display: block;
    margin-top: -20px;
  }

  .pagination-container {
    margin-top: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .magic-dots {
    margin-left: 10px !important;
    margin-right: 10px !important;
    position: initial !important;
  }

  .slick-dots {
    display: flex !important;
  }

  @media only screen and (max-width: 768px) {
    .app-container {
      padding-top: $paddingTopMobile !important;
    }

    .hero-image {
      height: 150px;
      position: relative;
    }

    .hello-text {
      font-size: 20px;
    }

    .avatar-big {
      width: 30px !important;
      height: 30px !important;
    }

    .hero-text {
      width: 100vw;
      transform: translate(-50%, -50%) !important;
    }
  }

  .avatar {
    width: 35px;
    height: 35px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    line-height: 1;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
    background: #979698;
    color: white;

    &-big {
      @extend .avatar;
      width: $hero-avatar-width;
      height: $hero-avatar-height;
    }

    &-small {
      @extend .avatar;
      width: $avatar-width;
      height: $avatar-height;
      font-size: 1rem;
    }

    &-mobile-small {
      @extend .avatar;
      font-size: 1rem;
    }
  }

  .input-icons i {
    position: absolute;
  }

  .input-icons {
    width: 100%;
    margin-bottom: 10px;
  }

  .icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
  }

  .search-from {
    width: 35vw;
    height: 30px;
    display: flex;
    padding: 2px 4px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    align-items: center;
    border-radius: 25px;
  }

  .search-input-container {
    flex: 1;
    margin-left: 8px;
  }

  .search-input {
    outline: none;
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    -webkit-tap-highlight-color: transparent;
  }

  .search-button {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 8px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0);
    border: none;
  }

  .search-icon {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
  }

  .bm-burger-button {
    display: none;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    left: 1em !important;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    color: #333e51;
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #ffffff;
    padding: 1.5em 1em 0;
    font-size: 1.15em;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding-top: 0.8em;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
    font-size: 2em;
    color: #333e51;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
