@import 'app-variables';

.provider {
  min-height: 100vh;
  position: inherit;
  overflow: auto;
  background-color: #f5f9fc;

  .background {
    background: url('../../../static/images/background-provider.svg') no-repeat center top;
    background-size: contain;
    position: relative;
  }
  > * {
    font-family: 'Muli', sans-serif;
  }
  .app-container {
    padding-top: $paddingTop !important;
  }

  #provider-home-view-container {
  }

  .navbar {
    border-width: 0 !important;
  }

  .header-item .header-item-padding {
    padding-right: 15px;
    padding-left: 15px;
  }

  .self-align-center {
    align-self: center;
  }

  .hero-text {
    text-align: center;
    color: #2d2d2d;
  }

  .hero-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-avatar-size {
    width: $hero-avatar-width !important;
    height: $hero-avatar-height !important;
  }

  .user-cards-container {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    display: block;
  }

  .pagination-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .magic-dots {
    margin-left: 10px !important;
    margin-right: 10px !important;
    position: initial !important;
  }

  .slick-dots {
    display: flex !important;
  }

  .progress-bar {
    background-color: #e8895a;
  }

  .progress {
    border: 1px solid black;
    width: 10vw;
    border-radius: 10px;
    background-color: white;
  }

  .control-line-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .sort-container {
    display: flex;
  }

  @media only screen and (max-width: 768px) {
    .app-container {
      padding-top: $paddingTopMobile !important;
    }

    .control-line-container {
      display: block;
      padding: 1rem;
    }

    .sort-container {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;
    }

    .mobile-invisible {
      display: none !important;
    }

    .progress {
      width: 30vw;
    }

    .hello-text {
      font-size: 20px;
    }

    .avatar-big {
      width: 35px !important;
      height: 35px !important;
    }

    .hero-text {
      width: 100vw;
      padding-top: 10px;
      //transform: translate(-50%, -50%) !important;
    }

    .map-view {
      padding-right: 0 !important;
    }

    .selected-record {
      padding-left: 0 !important;
    }
  }

  .avatar {
    width: 35px;
    height: 35px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    line-height: 1;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
    background: #979698;
    color: white;

    &-big {
      @extend .avatar;
      width: $hero-avatar-width;
      height: $hero-avatar-height;
    }

    &-small {
      @extend .avatar;
      width: $avatar-width;
      height: $avatar-height;
      font-size: 1rem;
    }

    &-mobile-small {
      @extend .avatar;
      font-size: 1rem;
    }
  }

  .input-icons i {
    position: absolute;
  }

  .input-icons {
    width: 100%;
    margin-bottom: 10px;
  }

  .icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
  }

  .search-from {
    width: 35vw;
    height: 30px;
    display: flex;
    padding: 2px 4px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    align-items: center;
    border-radius: 25px;
  }

  .search-input-container {
    flex: 1;
    margin-left: 8px;
  }

  .search-input {
    outline: none;
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    -webkit-tap-highlight-color: transparent;
  }

  .search-button {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 8px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0);
    border: none;
  }

  .search-icon {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
  }

  .bm-burger-button {
    display: none;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    left: 1em !important;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    color: #333e51;
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #ffffff;
    padding: 1.5em 1em 0;
    font-size: 1.15em;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding-top: 0.8em;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
    font-size: 1.5em;
    color: #333e51;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .all-records-container {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
  }

  .btn {
    text-transform: capitalize;
    font-family: 'Muli', sans-serif;
    font-size: 13px;
  }

  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  [placeholder] {
    text-overflow: ellipsis;
  }
}

.pills {
  padding-left: 0 !important;
}

.button-pill {
  display: block;

  span {
    margin-right: 8px;
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    text-decoration: none;
    border: 1px black solid;
    padding: 2px 2rem;
    border-radius: 16px;
    transition: 0.5s;
  }

  span:hover {
    background-color: #333b52;
    color: white;
    cursor: pointer;
  }

  .disabled {
    span {
      background-color: #7b7b7b80 !important;
      color: white;
      border: 1px #7b7b7b80 solid;
    }

    span:hover {
      cursor: auto !important;
    }
  }

  .apply {
    span {
      background-color: #e78859 !important;
      color: white;
      border: 1px black solid;
    }
  }
}

.pill {
  display: inline-block;
  max-width: 220px;
  padding-right: 8px;

  span {
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    text-decoration: none;
    border: 1px black solid;
    padding: 2px 8px;
    border-radius: 16px;
    transition: 0.5s;
  }
}

.sort-menu-item {
  cursor: pointer;
}

.multi-select-pill {
  span {
    display: flex !important;
    padding: 2px 1rem;
  }
  span:hover {
    cursor: pointer;
  }
}

.filter-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
}

.filter-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  margin-bottom: 50px;
}

.filter-footer {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 50px;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.filter-card {
  min-height: calc(100% - 1.5rem);
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-family: 'Muli', serif;
  font-size: 12px;
  box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.1);
}

.filter-modal {
  background: rgba(0, 0, 0, 0);
  border: none;
}

.side-menu-container {
  outline: none;
  display: grid !important;
}

.map-view {
  padding-right: 0.5rem !important;
}

.selected-record {
  padding-left: 1.5rem !important;
}

.selected-record > div {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
