.record-updates-modal {
  .modal-content {
    background-color: #f5f9fc;
    .modal-title {
      font-size: 15px;
      font-weight: bold;
      .record-name {
        text-align: center;
        text-decoration: underline;
      }
      margin-bottom: 0.5rem;
    }
    .modal-body {
      width: 100%;
      max-height: 60vh;
      overflow-y: auto;
      .update {
        margin-bottom: 1.5rem;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      .field-updated {
        .field-updated-label {
          font-weight: bold;
        }
        margin-bottom: 0.75rem;
      }
      .field-value {
        text-align: center;
        .cell {
          text-align: center;
          background-color: white;
          margin-top: 0.35rem;
          min-width: 100%;
          &.success {
            border: 1px green solid;
          }
        }
      }
      .separator-right {
        border-right: 1px lightgray solid;
      }
      .record {
        &:first-of-type {
          padding-left: 1rem;
        }
        &:last-of-type {
          padding-right: 1rem;
        }
      }
    }
    .modal-footer {
      margin-top: 0 !important;
      border-top: 0;
      .button-pill {
        background-color: white;
      }
    }
    border: 3px red solid;
    &.success {
      border: 3px green solid;
    }
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 600px;
  }
}
