@import '../../app-variables';
@import '../../bootstrap-variables';

.upload-page {
  .filepond--panel-root {
    background-color: transparent;
  }

  .drop-area {
    border: 3px dashed;
    border-color: $primary;
    border-radius: 10px;
  }
}
