.referral-history {
  .filters {
    margin-bottom: 2em;
  }

  .csv-download {
    &:not(:hover) {
      color: black;
    }
  }

  .hand {
    cursor: pointer;
  }

  .nav-item {
    background-color: white;
    .nav-link {
      height: 100%;
      &.active,
      &:hover {
        height: calc(100% + 6px);
      }
    }
  }
}
