.referral {
  .nav-item {
    background-color: darken(#f4f5f6, 5%);
    flex: 1;
    font-weight: bold;
    text-align: center;

    .nav-link {
      background-color: #f4f5f6;
      border-radius: 8px 8px 0 0;
      cursor: pointer;

      &.active {
        cursor: default;
        background-color: #333e51;
        border-color: #333e51;
        color: white;
      }
    }
  }

  .tab-content {
    max-height: calc(100vh - 60px - 45px - 50px);
    width: 100%;

    @media only screen and (max-width: 768px) {
      max-height: calc(100vh - 60px - 45px);
      margin: 0;
      padding: 0;
    }
  }

  .content-title {
    width: 100%;
    padding: 15px;
    text-align: center;
    vertical-align: middle;

    > span {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  .full-width {
    width: 100%;
    min-width: 100px;
    @media only screen and (min-width: 768px) {
      min-width: 150px;
    }
  }

  .pull-right {
    float: right;
    margin-left: auto;
  }

  .referral-table {
    .button-pill {
      margin-top: 0.2rem;
      @media only screen and (max-width: 768px) {
        padding: 2px 1rem;
      }
    }
  }

  .to-location.required > div,
  .refer-to.required > div,
  .from-location.required > div,
  .refer-from.required > div {
    border-color: red;
    box-shadow: none !important;
  }

  .beneficiary-data.required {
    border: 1px solid red;
    border-radius: 4px;
    padding: 0 5px;
  }

  .referral-label {
    text-decoration: underline;
    font-weight: bold;
    &.required {
      color: red;
    }
  }

  .checked-in-label,
  .referred-label {
    word-break: break-word;
    > span {
      text-align: center;
    }
  }
}
