@import '../../app-variables';
@import '../../bootstrap-variables';
$darker-blue: #117699;

.activity-element {
  margin-bottom: 15px;

  .activity-card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &.without-icon {
      padding-left: 2rem !important;
    }
  }

  .alert-link {
    &:hover {
      text-decoration: none !important;

      .activity-left-card-title {
        color: $blue-card-darker;
      }
    }
  }

  .activity-left-card {
    margin-bottom: 0px;
  }

  .activity-left-card-title {
    color: $blue;
    font-size: 18px;
    margin-bottom: 0;
  }

  .info-container {
    display: flex;
    justify-content: space-between;
  }

  .activity-right-card {
    background-color: $gray-card-bg;
  }

  .activity-right-card-title {
    color: $gray-card-accent;
    font-size: 14px;
  }

  .activity-right-card-info {
    color: $gray-card-accent;
  }

  .multi-record-view-link {
    color: $darker-blue;
  }
}
