div.card.record-card {
  font-family: 'Muli', serif;
  font-size: 12px;
  width: 27vw !important;
  height: 220px;

  &.new-record {
    h1 {
      font-size: 30px;
    }
    border: 2px dashed;
    border-radius: 12px;
    .card-body {
      margin: 3em;
      text-align: center;
    }
    button {
      padding: 5px 15px;
      font-size: 15px;
      background-color: #67BBA4;
      color: white;
      font-weight: bold;
      text-transform: none;
      border-radius: 8px;
      border-color: white;
      margin-top: 0.5em;
    }
  }

  div.card-title {
    display: flex;
    .bookmark {
      padding-left: 5px;
      padding-top: 5px;
      width: 30px;
    }
    .last-update {
      flex: 1;
    }
    .updated-by {
      font-size: 10px;
    }
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    color: grey;
  }

  div.card-body {
    padding: 0;
    .organization-name {
      height: 3em;
      font-size: large;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    > * {
      padding-left: 20px;
    }
    section {
      height: 50px;
      padding-top: 10px;
    }
    .locations {
      border-top: 1px solid #f0f0f0;
    }
  }

  .blue {
    color: #0c32ff;
  }

  .remainder {
    font-weight: bold;
  }

  .pill {
    display: inline-block;
    span {
      margin-right: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border: 1px lightgrey solid;
      padding: 2px 8px;
      border-radius: 16px;
    }
  }

  .location {
    display: inline-block;
    span {
      margin-right: 8px;
      display: inline-block;
      svg {
        width: 0.5em !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  div.card.record-card {
    width: 100%;
  }
}
