/* ==================== COMMON ===================== */
.record-shared {
  html {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    color: #333e50;
  }

  .clickable {
    cursor: pointer;
  }

  .pull-right {
    float: right;
    margin-left: auto;
  }

  .pill {
    display: inline-block;
    max-width: 220px;
    padding-right: 8px;
    font-size: 12px !important;

    span {
      max-width: 100%;
      overflow: hidden;
      vertical-align: top;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border: 1px lightgrey solid;
      border-radius: 16px;
      padding: 2px 8px;
      transition: 0.5s;

      svg {
        width: 0.5em !important;
      }
    }
  }

  .go-back {
    top: 60px;
  }

  .blue {
    color: #0c32ff;
  }

  .orange {
    color: #eb895a !important;
  }

  section.locations {
    font-size: 12px;
    border-top: 1px solid #f0f0f0;
    margin-top: 5px;

    span {
      svg {
        width: 0.5em !important;
      }
    }
  }

  .flex {
    display: flex;
    flex-direction: row;

    textarea,
    select,
    .form-group,
    div.av-select {
      flex: 1;
      margin-bottom: 0;
    }
  }

  div.required:before {
    content: '*';
  }

  div.required {
    font-size: 16px;
    margin-left: -0.5em;
    margin-right: 0.25em;
    color: red;
  }

  .buttons {
    &.navigation-buttons {
      margin-top: 2em;
      margin-bottom: 1em;
      display: flex;

      button {
        white-space: normal;
      }
    }

    &.list-buttons {
      display: flex;
      justify-content: center;
      text-align: center;

      button {
        padding: 5px 15px;
        font-size: 15px;
        font-weight: bold;
        text-transform: none;
        border-radius: 8px;
      }
    }
  }

  .heading {
    img {
      margin-bottom: 0.5em;
    }

    margin-top: 1.5em;
    text-align: center;
    margin-bottom: 2em;

    h2 {
      color: black;
    }
  }

  div.invalid-feedback:empty {
    display: none;
  }

  /* ======= RECORD EDIT AND SINGLE RECORD VIEW ====== */

  &.record-edit,
  &.single-record-view {
    padding-top: 10vh;
    width: 100vw;

    .card-body {
      &.details {
        border-top: 2px solid #e4e4e4;

        section {
          padding: 10px;
          font-size: 14px;
        }

        .card-title {
          span {
            font-size: 12px;
          }
        }

        &.organization,
        .service {
          section {
            border-bottom: 1px solid #e4e4e4 !important;
          }
        }
      }
    }

    .details-card {
      height: 120px !important;
    }

    .record-card.clickable {
      &:hover {
        background-color: #f0f0f0;

        .pill {
          span {
            background-color: white;
          }
        }
      }

      &:active {
        background-color: #e0e0e0;
      }
    }

    .card {
      &.card-sm {
        .card-body {
          &.service {
            .card-left {
              background-color: #eb895a;
            }

            .card-right {
              svg {
                color: #eb895a;
              }
            }
          }

          &.locations {
            .card-left {
              background-color: #0071fe;
            }

            .card-right {
              svg {
                color: #0071fe;
              }
            }
          }

          padding: 0;
        }

        .card-left {
          color: white;
          padding-left: 0.5em;
          padding-right: 0.5em;
          display: flex;
          align-items: center;
          width: 25px;
        }

        .card-right {
          width: calc(100% - 25px);

          svg {
            height: 0.5em;
            margin-bottom: 0.25em;
          }

          padding: 0.75em;
        }

        min-width: 280px;
        min-height: 80px;
        margin-bottom: 1em;
        margin-right: 1em;
      }

      .invalid {
        box-shadow: 3px 3px 3px #fbcbc8;
        border: 1px solid #fbcbc8;
      }

      .card-title {
        font-size: 16px;
        font-weight: bold;
        color: black !important;

        > span {
          max-height: 4.5em;
          overflow: hidden;
        }

        img {
          margin-right: 0.5em;
        }

        padding: 0.5em;
        display: flex;
        align-items: center;

        svg {
          margin-left: auto;
        }

        margin-bottom: 0;
        border-bottom: none !important;
      }
    }

    .section {
      margin-bottom: 1em;
      box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.1);

      > .card-body,
      .collapse > div {
        border-top: 2px #e4e4e4 solid;
      }
    }

    button {
      margin-top: 0 !important;
      border-bottom-width: 0 !important;
    }

    .service-details,
    .location-details {
      margin: -1em 0.5em 0.5em 0.5em;
    }

    label {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0.25em;
    }

    .item:not(:first-of-type) {
      margin-top: 2em;
    }

    .top-bar {
      height: auto;
      align-items: center;
      padding: 10px;
    }

    .locations {
      .top-bar {
        background-color: #e1eeff;

        .progress-bar {
          background-color: #0071fe;
        }
      }
    }

    .services {
      .top-bar {
        background-color: #f5eff1;
      }
    }

    .service-name {
      vertical-align: -webkit-baseline-middle;
    }
  }

  .details-section-title {
    span {
      white-space: nowrap;
    }
  }

  @media only screen and (max-width: 768px) {
    &.single-record-view {
      .card-body {
        &.details {
          section {
            margin: auto !important;
          }
        }
      }

      .arrow-navigation {
        margin: 0 !important;
      }
    }
  }

  @media only screen and (max-width: 400px) {
    &.record-edit,
    &.single-record-view,
    &.record-create {
      .nav-link {
        font-size: 12px;
      }
    }
  }
}
