div.card.record-card {
  font-family: 'Muli', serif;
  font-size: 12px;
  height: 250px;
  box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.1);

  &-full-width {
    @extend .record-card;
    height: unset;
  }

  &.new-record {
    display: flex !important;
    align-items: center;
    padding: 0 1em;
    width: auto !important;
    h1 {
      font-size: 30px;
    }
    border: 2px dashed;
    border-radius: 12px;
    button {
      padding: 5px 15px;
      font-size: 15px;
      background-color: #67bba4;
      color: white;
      font-weight: bold;
      text-transform: none;
      border-radius: 8px;
      border-color: white;
      margin-top: 0.5em;
    }
    .card-body {
      text-align: center;
      display: flex;
      align-items: center;
      > * {
        padding-left: 0;
      }
    }
  }

  div.card-title {
    display: flex;
    .bookmark {
      padding-left: 5px;
      padding-top: 5px;
      width: 30px;
    }
    .last-update {
      flex: 1;

      &-full-width {
        @extend .last-update;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
    }
    .updated-by {
      font-size: 10px;
    }
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    color: grey;
  }

  div.card-body {
    padding: 0;
    .organization-name {
      height: 3em;
      font-size: large;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &-full-width {
        @extend .organization-name;
        height: 2em;
        max-width: 70%;
      }
    }
    > * {
      padding-left: 20px;
    }
    section {
      height: 50px;
      padding-top: 10px;
    }
    .locations {
      border-top: 1px solid #f0f0f0;
    }
  }

  .services .remainder {
    position: relative;
    top: 0.25em;
  }

  .blue {
    color: #0c32ff;
  }

  .remainder {
    font-weight: bold;
  }

  .pill {
    display: inline-block;
    span {
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border: 1px lightgrey solid;
      border-radius: 16px;
    }
  }

  .location {
    display: inline-block;
    span {
      margin-right: 8px;
      display: inline-block;
      svg {
        width: 0.5em !important;
      }
    }
  }
}

.latest-daily-update {
  padding-left: 20px;
  line-height: 15px;
  height: 30px;
  padding-right: 20px;
  max-width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &-full-width {
    @extend .latest-daily-update;
    white-space: unset;
  }
}

@media only screen and (max-width: 1000px) {
  div.card.record-card {
    &.new-record {
      h1 {
        font-size: 24px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  div.card.record-card {
    margin-right: 2px;
    margin-left: 2px;
    &.new-record {
      h1 {
        font-size: 18px;
      }
    }
    max-width: 100%;
  }
}
