/* ==================== COMMON ===================== */
@import '../../../bootstrap-variables';

html {
  font-family: 'Muli', serif;
  font-size: 16px;
  color: #333e50;
}

.clickable {
  cursor: pointer;
}

.pull-right {
  float: right;
  margin-left: auto;
}

.pill {
  display: inline-block;
  max-width: 220px;
  padding-right: 8px;
  font-size: 12px !important;

  span {
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px lightgrey solid;
    border-radius: 16px;
    padding: 2px 8px;
    transition: 0.5s;
    svg {
      width: 0.5em !important;
    }
  }
}

.go-back {
  top: 60px;
}

.blue {
  color: #0c32ff;
}

.orange {
  color: #eb895a !important;
}

section.locations {
  font-size: 12px;
  border-top: 1px solid #f0f0f0;
  margin-top: 5px;
  span {
    svg {
      width: 0.5em !important;
    }
  }
}

/* ================= RECORD CARD =================== */

div.card.record-card {
  font-size: 12px;
  height: 250px;
  box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.1);

  &-full-width {
    @extend .record-card;
    height: unset;
  }

  &.new-record {
    display: flex !important;
    align-items: center;
    padding: 0 1em;
    width: auto !important;
    h1 {
      font-size: 30px;
    }
    border: 2px dashed;
    border-radius: 12px;
    button {
      padding: 5px 15px;
      font-size: 15px;
      background-color: #67bba4;
      color: white;
      font-weight: bold;
      text-transform: none;
      border-radius: 8px;
      border-color: white;
      margin-top: 0.5em;
    }
    .card-body {
      text-align: center;
      display: flex;
      align-items: center;
      > * {
        padding-left: 0;
      }
    }
  }

  div.card-title {
    display: flex;
    .bookmark {
      padding-left: 5px;
      padding-top: 5px;
      width: 30px;
    }
    .last-update {
      flex: 1;

      &-full-width {
        @extend .last-update;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
    }
    .updated-by {
      font-size: 10px;
    }
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    color: $gray-600;
  }

  div.card-body {
    padding: 0;
    .organization-name {
      height: 3em;
      font-size: large;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &-full-width {
        @extend .organization-name;
        height: 2em;
        max-width: 70%;
      }
    }
    > * {
      padding-left: 20px;
    }
    section {
      height: 50px;
      padding-top: 10px;
    }
  }

  .services .remainder {
    position: relative;
    top: 0.25em;
  }

  .remainder {
    font-weight: bold;
  }

  .location {
    display: inline-block;
    span {
      margin-right: 8px;
      display: inline-block;
      svg {
        width: 0.5em !important;
      }
    }
  }
}

.latest-daily-update {
  padding-left: 20px;
  line-height: 15px;
  height: 30px;
  padding-right: 20px;
  max-width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &-full-width {
    @extend .latest-daily-update;
    white-space: unset;
  }
}

/* ================= RECORD CREATE ================= */

.record-create {
  div.invalid-feedback:empty {
    display: none;
  }

  .btn {
    &:not(.disabled):hover {
      margin-top: -1px;
      border-bottom-width: 1px;
    }
  }

  .heading {
    img {
      margin-bottom: 0.5em;
    }
    margin-top: 1.5em;
    text-align: center;
    margin-bottom: 2em;
    h2 {
      color: black;
    }
  }

  .nav-item {
    background-color: #f4f5f6;
    &.invalid {
      .nav-link {
        &:not(.active) {
          background-color: #fbcbc8;
        }
        border: 1px solid red;
      }
    }
    flex: 1;
    font-weight: bold;
    text-align: center;
    .nav-link {
      border-radius: 8px;
    }
    > .active {
      background-color: #333e51;
      color: white;
    }
  }

  .tab-content {
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
  }
  .flex {
    display: flex;
    flex-direction: row;

    textarea,
    select,
    .form-group,
    div.av-select {
      flex: 1;
      margin-bottom: 0;
    }
  }

  div.required:before {
    content: '*';
  }
  div.required {
    font-size: 22px;
    margin-left: -0.75em;
    margin-right: 0.25em;
    color: red;
  }

  .buttons {
    &.navigation-buttons {
      margin-top: 2em;
    }
    &.list-buttons {
      text-align: center;
      button {
        padding: 5px 15px;
        font-size: 15px;
        font-weight: bold;
        text-transform: none;
        border-radius: 8px;
      }
      .add-another {
        background-color: #6ec1ab;
        color: white;
        border: 1px solid #8194b2;
      }
    }
  }

  .item:not(:first-of-type) {
    margin-top: 2em;
  }
}

/* ======= RECORD EDIT AND SINGLE RECORD VIEW ====== */

.record-edit,
.single-record-view {
  padding-top: 10vh;

  .card-body {
    &.details {
      border-top: 2px solid #e4e4e4;

      section {
        padding: 10px;
        font-size: 14px;
      }

      .card-title {
        span {
          font-size: 12px;
        }
      }

      &.organization,
      .service {
        section {
          border-bottom: 1px solid #e4e4e4 !important;
        }
      }
    }
  }

  .details-card {
    height: 120px !important;
  }

  .record-card.clickable {
    &:hover {
      background-color: #f0f0f0;
      .pill {
        span {
          background-color: white;
        }
      }
    }
    &:active {
      background-color: #e0e0e0;
    }
  }

  .card {
    &.card-sm {
      .card-body {
        &.service {
          .card-left {
            background-color: #eb895a;
          }

          .card-right {
            svg {
              color: #eb895a;
            }
          }
        }

        &.locations {
          .card-left {
            background-color: #0071fe;
          }

          .card-right {
            svg {
              color: #0071fe;
            }
          }
        }

        padding: 0;
      }

      .card-left {
        color: white;
        padding-left: 0.5em;
        padding-right: 0.5em;
        display: flex;
        align-items: center;
      }

      .card-right {
        svg {
          height: 0.5em;
          margin-bottom: 0.25em;
        }

        padding: 0.75em;
      }

      min-width: 280px;
      min-height: 80px;
      margin-bottom: 1em;
      margin-right: 1em;
    }

    .invalid {
      box-shadow: 3px 3px 3px #fbcbc8;
      border: 1px solid #fbcbc8;
    }

    .card-title {
      font-size: 16px;
      font-weight: bold;
      color: black !important;

      > span {
        max-height: 4.5em;
        overflow: hidden;
      }

      img {
        margin-right: 0.5em;
      }

      padding: 0.5em;
      display: flex;
      align-items: center;

      svg {
        margin-left: auto;
      }

      margin-bottom: 0;
      border-bottom: none !important;
    }

    .card-heading {
      font-weight: bold;
    }
  }

  .section {
    margin-bottom: 1em;
    box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.1);

    > .card-body,
    .collapse > div {
      border-top: 2px #e4e4e4 solid;
    }
  }

  div.invalid-feedback:empty {
    display: none;
  }

  button {
    margin-top: 0 !important;
    border-bottom-width: 0 !important;
  }

  .heading {
    img {
      margin-bottom: 0.5em;
    }

    margin-top: 1.5em;
    text-align: center;
    margin-bottom: 2em;

    h2 {
      color: black;
    }
  }

  .flex {
    display: flex;
    flex-direction: row;

    textarea,
    select,
    .form-group,
    div.av-select {
      flex: 1;
      margin-bottom: 0;
    }
  }

  div.required:before {
    content: '*';
  }

  div.required {
    font-size: 16px;
    margin-left: -0.5em;
    margin-right: 0.25em;
    color: red;
  }

  .buttons {
    &.navigation-buttons {
      margin-top: 2em;
      margin-bottom: 1em;
      display: flex;
      button {
        white-space: normal;
      }
    }

    &.list-buttons {
      text-align: center;

      button {
        padding: 5px 15px;
        font-size: 15px;
        font-weight: bold;
        text-transform: none;
        border-radius: 8px;
      }
    }
  }

  .service-details,
  .location-details {
    margin: -1em 0.5em 0.5em 0.5em;
  }

  label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0.25em;
  }

  .item:not(:first-of-type) {
    margin-top: 2em;
  }

  .top-bar {
    height: auto;
    align-items: center;
    padding: 10px;
  }

  .locations {
    .top-bar {
      background-color: #e1eeff;
      .progress-bar {
        background-color: #0071fe;
      }
    }
  }

  .services {
    .top-bar {
      background-color: #f5eff1;
    }
  }

  .service-name {
    vertical-align: -webkit-baseline-middle;
  }
}

@media only screen and (max-width: 1000px) {
  div.card.record-card {
    &.new-record {
      h1 {
        font-size: 24px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  div.card.record-card {
    margin-right: 2px;
    margin-left: 2px;
    &.new-record {
      h1 {
        font-size: 18px;
      }
    }
    max-width: 100%;
  }
  .single-record-view {
    .card-body {
      &.details {
        section {
          margin: auto !important;
        }
      }
    }
    .arrow-navigation {
      margin: 0 !important;
    }
  }
}

@media only screen and (max-width: 400px) {
  .record-edit,
  .single-record-view,
  .record-create {
    .nav-link {
      font-size: 12px;
    }
  }
}
