.record-create {
  font-family: 'Muli', serif;
  font-size: 14px;
  color: #8194B2;

  div.invalid-feedback:empty {
    display: none;
  }

  .btn {
    &:not(.disabled):hover {
      margin-top: -1px;
      border-bottom-width: 1px;
    }
  }

  .heading {
    img {
      margin-bottom: 0.5em;
    }
    margin-top: 1.5em;
    text-align: center;
    margin-bottom: 2em;
    h2 {
      color: black;
    }
  }

  .nav-item {
    background-color: #f4f5f6;
    &.invalid {
      .nav-link {
        &:not(.active) {
          background-color: #fbcbc8;
        }
        border: 1px solid red;
      }
    }
    flex: 1;
    font-weight: bold;
    text-align: center;
    .nav-link {
      border-radius: 8px;
    }
    > .active {
      background-color: #333E51;
      color: white;
    }
  }

  .tab-content {
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
  }
  .flex {
    display: flex;
    flex-direction: row;

    textarea,
    select,
    .form-group,
    div.av-select {
      flex: 1;
      margin-bottom: 0;
    }
  }

  div.required:before {
    content: '*';
  }
  div.required {
    font-size: 22px;
    margin-left: -0.75em;
    margin-right: 0.25em;
    color: red;
  }
}

.buttons {
  &.navigation-buttons {
    margin-top: 2em;
  }
  &.list-buttons {
    text-align: center;
    button {
      padding: 5px 15px;
      font-size: 15px;
      font-weight: bold;
      text-transform: none;
      border-radius: 8px;
    }
    .add-another {
      background-color: #6EC1AB;
      color: white;
      border: 1px solid #8194B2;
    }
  }
}

.pull-right {
  float: right;
}

.item:not(:first-of-type) {
  margin-top: 2em;
}

@media only screen and (max-width: 400px) {
  .nav-link {
    font-size: 12px;
  }
}
