@import '../../../bootstrap-variables';

.single-record-view {
  padding-top: 10vh;
  .go-back {
    top: 60px;
  }

  .card-section {
    margin-bottom: 1rem;
  }

  .record-card {
    .pill {
      font-size: 12px !important;
      margin: 1px 0;
    }

    section {
      height: auto !important;
    }

    .locations {
      margin-top: 5px;
    }

    height: auto !important;
  }

  .loc-card,
  .srv-card {
    height: 120px !important;
  }

  .card-title {
    color: $gray-900 !important;

    font-size: 16px;
    font-weight: bold;

    img {
      margin-right: 0.5em;
    }

    padding: 0.5em !important;
    display: flex;
    align-items: center;

    svg {
      margin-left: auto;
    }

    margin-bottom: 0;
    &.collapse-toggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .pill {
        background-color: #f0f0f0;
        border: 1px solid #f0f0f0;
      }
    }

    margin-bottom: 0;
    border-bottom: none !important;
  }

  .card-body {
    .loc-card,
    .srv-card > * {
      padding: 2px 10px !important;
    }

    &.details {
      border-top: 2px solid #e4e4e4;

      section {
        padding: 10px !important;
        font-size: 14px;
      }

      .card-title {
        span {
          font-size: 12px;
        }
      }

      &.organization,
      .service {
        section {
          border-bottom: 1px solid #e4e4e4 !important;
          &.header {
            background-color: oldlace;
          }
        }
        .progress {
          width: 5vh !important;
        }
      }
    }
  }

  section {
    border-top: medium;
  }

  span.pill {
    margin-right: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px lightgrey solid;
    padding: 2px 8px !important;
    border-radius: 16px;
    svg {
      width: 0.5em !important;
    }
  }

  .orange {
    color: #ff650c !important;
  }

  .arrow-navigation,
  .srv-card {
    cursor: pointer;
  }

  .srv-card {
    &:hover {
      background-color: #f0f0f0;
    }
    &:active {
      background-color: #e0e0e0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .single-record-view {
    .card-body {
      &.details {
        section {
          margin: auto !important;
        }
      }
    }
    .arrow-navigation {
      margin: 0 !important;
    }
  }
}
