.silo {
  input[type='checkbox'] {
    box-shadow: none;
  }
}

.brand-logo {
  height: 35px;
  width: auto;
  display: inline-block;

  img {
    height: 45px;
    margin-top: -5px;
  }

  margin-right: 5px;
}
